/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Lobster', cursive;
*/

#welcome
{
	text-align: center;
	font-family: 'Lobster', cursive;
}

h2
{
	font-family: 'Arial', sans-serif;
}

#mainnav
{
	background-color: #000000;
	color: #ffffff;
}

#nv
{
	 font-family: 'Titillium Web', sans-serif;
	 background-color: #ff0000;	
	 border: solid 10px black;
}

#jd
{
	background-image: url("../img/check.png");
	border: solid 10px black;
}

#wl
{
	font-family: 'Titillium Web', sans-serif;
	background-color: #ffffff;
	border: solid 10px black;
}

#wl1
{
	background-color: #ffffff;
	border: solid 10px black;
	text-align: center;
}

.icon
{
	border-radius: 50%;
	border: solid 1px black;
}

#tb
{
	background-color: #ffffff;
	border: solid 1px black;
	/*border: solid 1px black;*/
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}